In [11]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

- create_engine : It is used to make connection from the database
- column : It defines columns in database 
- Integer and String : datatype values in database

In [12]:
engine = create_engine('sqlite:///user.db')  #.db is the extension of the file

In [13]:
#this line is needed to create the table 
Base = declarative_base()

In [14]:
class User(Base):
    __tablename__='users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    password = Column(String)

In [15]:
Base.metadata.create_all(engine)

In [16]:
Session = sessionmaker(bind=engine)  #this line tells the sessionmaker to use the engine 
session = Session()  #this line creates a session object

In [17]:
#add a new user 
new_user = User(name='Alice', password='2736')
session.add(new_user)
session.commit()

In [18]:
#add a new user 
new_user = User(name='John', password='abrakadabra')
session.add(new_user)
session.commit()

In [ ]:
#retrieve all users
users = session.query(User).all()
for user in users:
    print(f'ID: {user.id},Name: {user.name}, Password: {user.password}')

ID: 1,Name: Alice, Password: 2736
ID: 2,Name: John, Password: abrakadabra

In [20]:
#update the user
user = session.query(User).filter_by(id=1).first()
user.name = 'John Smith'
session.commit()

In [21]:
#retrieve all users
users = session.query(User).all()
for user in users:
    print(f'ID: {user.id},Name: {user.name}, Password: {user.password}')

ID: 1,Name: John Smith, Password: 2736
ID: 2,Name: John, Password: abrakadabra

In [23]:
#delete a user
user = session.query(User).filter_by(id=1).first()
session.delete(user)
session.commit()

In [25]:
#retrieve all users
users = session.query(User).all()
for user in users:
    print(f'ID: {user.id},Name: {user.name}, Password: {user.password}')

ID: 2,Name: John, Password: abrakadabra