# list

In [1]:
fruits=['apple','banana','cherry','grapes','watermelon']
for i in fruits:
    print(i)

apple
banana
cherry
grapes
watermelon

### for loop

In [2]:
fruits=['apple','banana','cherry','grapes','watermelon']
for i in fruits:
    print(i, end=" ")

apple banana cherry grapes watermelon

In [3]:
for i in range(1 , 4):
    print(i)

1
2
3

In [4]:
for i in range(2 , 9 , 2):
    print(i)

2
4
6
8

In [5]:
for i in range (0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [6]:
for i in range (1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
for i in range(1,21):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [8]:
for i in range(10):
    print("shivani")

shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani

## while loop

In [9]:
i=0
while i <=10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [10]:
i=0
while i <= 10:
    print("shivani")
    i+=1

shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani

In [11]:
i=0
while i <= 20:
    if i % 2 != 0:
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

In [12]:
i=0
while i <= 20:
    if i % 2 == 0:
        print(i)
    i+=1

0
2
4
6
8
10
12
14
16
18
20

 # break and continue

In [13]:
fruits=['apple','banana','cherry','grapes','watermelon','date','onion','kwi','elderberry']
for i in fruits:
    if i == 'onion':
        break
    print(i)

apple
banana
cherry
grapes
watermelon
date

In [14]:
fruits=['apple','banana','cherry','grapes','watermelon','date','onion','kwi','elderberry']
for i in fruits:
    if i == 'onion':
        continue
    print(i)

apple
banana
cherry
grapes
watermelon
date
kwi
elderberry