- how to create a dictionary
- how to access pairs in dictionary
- how to run a loop in dictionary
- how to make a nested dicionary
- indexing in dictionary

## creating a dictionary

In [3]:
student = {
    "name" : "Alice",
    "age" : 20,
    "course" : "BCA",
    "marks" : 92
}
print(student)

{'name': 'Alice', 'age': 20, 'course': 'BCA', 'marks': 92}

In [4]:
student = {
    "name" : input("enter name"),
    "age" : 20,
    "course" : "BCA",
    "marks" : 92
}
print(student)

{'name': 'aofia', 'age': 20, 'course': 'BCA', 'marks': 92}

In [5]:
info = dict( name = "alice", age = 20, course = "mba", marks = 87)
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 87}

In [6]:
info = dict( name = input("enter name"), age = 20, course = "mba", marks = 87)
print(info)

{'name': 'ruby', 'age': 20, 'course': 'mba', 'marks': 87}

In [7]:
temp = {
    'lucknow':[30,35,40],
    'delhi':[45,46,47],
    'chennai':[34,38,48]
}
print(temp)

{'lucknow': [30, 35, 40], 'delhi': [45, 46, 47], 'chennai': [34, 38, 48]}

## accessing pairs in dict

In [8]:
#1st method to access value through key
info['name']
info['age']

20

In [9]:
#2nd method
info.get('name')
info.get('marks')

87

In [10]:
#adding new key and value pair in dict - dname['key'] = 'value'
info['city'] = "lucknow"
print(info)

{'name': 'ruby', 'age': 20, 'course': 'mba', 'marks': 87, 'city': 'lucknow'}

## loops in dict

In [11]:
for i in student:
    print(i)

name
age
course
marks

In [12]:
for i,j in student.items():
    print(f"{i} : {j}")

name : aofia
age : 20
course : BCA
marks : 92

In [13]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks'])
dict_values(['aofia', 20, 'BCA', 92])
dict_items([('name', 'aofia'), ('age', 20), ('course', 'BCA'), ('marks', 92)])

## nested dict

In [14]:
company = {
    'emp001' : {
        'name' : 'Alice',
        'dept' : 'finance',
        'salary' : 50000
    },
    'emp002' : {
        'name' : 'Bob',
        'dept' : 'Marketing',
        'salary' : 45000
    },
    'emp003' : {
        'name' : 'Smith',
        'dept' : 'IT',
        'salary' : 70000
    }  
}
print(company)

{'emp001': {'name': 'Alice', 'dept': 'finance', 'salary': 50000}, 'emp002': {'name': 'Bob', 'dept': 'Marketing', 'salary': 45000}, 'emp003': {'name': 'Smith', 'dept': 'IT', 'salary': 70000}}

In [15]:
from pprint import pprint

In [16]:
pprint(company)

{'emp001': {'dept': 'finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'Marketing', 'name': 'Bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000}}

In [17]:
company['emp004'] = {'name' : 'Alex' , 'dept' : 'sales' , 'salary' : 75000 }
pprint(company)

{'emp001': {'dept': 'finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'Marketing', 'name': 'Bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000},
 'emp004': {'dept': 'sales', 'name': 'Alex', 'salary': 75000}}

In [18]:
company['emp002']

{'name': 'Bob', 'dept': 'Marketing', 'salary': 45000}

In [19]:
company['emp002']['dept']

'Marketing'

In [20]:
a = temp['lucknow']
print(sum(a) / len(a))

35.0